:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}


/* Demo-specific styles for Select Language Switch component */

select.demo-language-select {
  padding: 0.2rem 0.75rem 0.2rem 0.5rem;
  border-radius: 0px;
  font-size: 1rem;
  font-family: inherit;
  line-height: 1.5;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  transition: border 160ms, box-shadow 160ms;
}

select.demo-language-select:focus {
  box-shadow: rgb(32, 131, 244) 0px 0px 0px 1px inset;
}

select.demo-language-select.dark-mode {
  border: 1px solid rgb(51, 51, 51);
  background-color: rgb(20, 20, 20);
  color: rgb(229, 229, 229);
}


select.demo-language-select.light-mode {
  border: 1px solid rgb(224, 224, 224);
  background-color: rgb(255, 255, 255);
  color: rgb(20, 20, 20);
  transition: border-color 160ms, box-shadow 160ms;
}
